<a href="https://colab.research.google.com/github/hatimkh20/customer_churn_DL/blob/main/Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("Churn_Modelling.csv")
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
333,334,15728669,Knowles,584,Germany,Female,30,8,112013.81,1,1,0,177772.03,1
5598,5599,15631871,Kelly,616,Germany,Female,57,7,116936.81,1,1,1,104379.36,0
6719,6720,15776629,Christie,650,France,Female,39,4,0.00,2,0,0,186275.70,0
2397,2398,15747724,Briggs,671,Spain,Female,34,10,0.00,1,1,0,23235.38,0
180,181,15716334,Rozier,850,Spain,Female,45,2,122311.21,1,1,1,19482.50,0

In [3]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [4]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis='columns', inplace=True)

In [5]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.isnull()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.shape

(10000, 11)

In [9]:
# Creating a function to iterate through columns that consist of logical values:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [10]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [11]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [13]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: [1 0]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [16]:
df.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
3312,664,France,1,31,7,104158.84,1,1,0,134169.85,0
4531,609,France,0,37,6,0.00,2,0,1,22030.72,0
8011,701,France,1,35,2,0.00,2,1,1,65765.22,0
4309,705,France,1,35,5,0.00,1,1,0,133991.11,1
6573,647,Germany,0,35,3,192407.97,1,1,1,40145.28,0

In [18]:
#One hot encoding other columns
df_encode = pd.get_dummies(data=df, columns=['Geography'])
df_encode.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [19]:
df_encode.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [20]:
cols_to_scale = ['CreditScore','Balance','EstimatedSalary', 'Age', 'Tenure', 'NumOfProducts']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_encode[cols_to_scale] = scaler.fit_transform(df_encode[cols_to_scale])

In [21]:
df_encode.sample(3)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
3285,0.770,1,0.337838,0.9,0.393815,0.0,0,0,0.922880,1,0,1,0
1491,0.308,1,0.337838,0.7,0.407996,0.0,1,0,0.973489,1,0,1,0
8756,0.710,1,0.256757,0.3,0.438322,0.0,1,1,0.181564,1,0,1,0

In [38]:
#Train Test Split for our ANN

X = df_encode.drop('Exited',axis='columns')
y = df_encode['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=5)

In [39]:
X_train.shape

(8000, 12)

In [40]:
X_test.shape

(2000, 12)

In [41]:
X_train.sample(3)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
7543,0.854,0,0.337838,0.1,0.000000,0.333333,1,0,0.108882,1,0,0
5842,0.516,1,0.270270,0.9,0.408161,0.000000,0,1,0.287973,0,0,1
3922,0.378,0,0.283784,0.3,0.554622,0.333333,1,0,0.738324,1,0,0

In [43]:
import tensorflow as tf
from tensorflow import keras


#model = keras.Sequential([
   # keras.layers.Dense(26, input_shape=(26,)), #input layer
  #  keras.layers.Dense(15, activation='relu'), #hidden layer
 #   keras.layers.Dense(1, activation='sigmoid') #ouput layer
#])

#or this will also work
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') #ouput layer
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6285 - accuracy: 0.6360
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4859 - accuracy: 0.7961
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4663 - accuracy: 0.7999
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4535 - accuracy: 0.8062
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4451 - accuracy: 0.8100
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4377 - accuracy: 0.8110
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4309 - accuracy: 0.8151
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4249 - accuracy: 0.8164
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4185 - accuracy: 0.8177
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4128 - accuracy: 0.8204
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4070 - accuracy: 0.8232
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4014 - accuracy: 0.8273
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3960 - accuracy: 0.8304
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3908 - accuracy: 0.8315
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3860 - accuracy: 0.8353
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3819 - accuracy: 0.8381
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3783 - accuracy: 0.8403
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3742 - accuracy: 0.8407
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3712 - accuracy: 0.8436
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3686 - accuracy: 0.8455
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3662 - accuracy: 0.8459
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3636 - accuracy: 0.8493
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3617 - accuracy: 0.8509
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3599 - accuracy: 0.8481
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3586 - accuracy: 0.8536
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3571 - accuracy: 0.8521
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8520
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8518
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3536 - accuracy: 0.8531
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3529 - accuracy: 0.8533
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3518 - accuracy: 0.8536
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3516 - accuracy: 0.8545
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3506 - accuracy: 0.8539
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8549
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3490 - accuracy: 0.8559
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3484 - accuracy: 0.8565
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8556
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8561
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8545
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8546
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3461 - accuracy: 0.8555
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3461 - accuracy: 0.8565
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8560
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8560
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8556
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8571
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8586
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8556
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8571
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8583
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8576
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8575
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8576
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8570
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8568
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8565
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8593
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8575
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8587
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8586
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8615
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8589
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8586
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8594
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8581
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8605
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8599
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8610
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8605
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8609
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8599
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8602
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8605
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8597
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8618
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8622
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8601
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8602
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8604
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8604
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8612
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8605
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8601
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8604
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8602
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8606
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8614
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8612
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8610
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8609
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8601
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8596
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8620
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8620
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8615
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8616
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8616
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8631
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8619

In [44]:
yp = model.predict(X_test)
yp[:5]

array([[0.02808714],
       [0.07627791],
       [0.08180177],
       [0.09512052],
       [0.07187176]], dtype=float32)

In [45]:
#Convert probabilistic values to 0,1
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [50]:
y_pred[:5], y_test[:5]

([0, 0, 0, 0, 0], 7054    0
 442     0
 3954    0
 2288    0
 3196    0
 Name: Exited, dtype: int64)

In [47]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1595
           1       0.74      0.45      0.56       405

    accuracy                           0.86      2000
   macro avg       0.80      0.70      0.74      2000
weighted avg       0.85      0.86      0.84      2000